.App {
  font-family: sans-serif;
  text-align: center;
}

.heading-container {
  display: flex;
}
.heading {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.tab-body {
  display: flex;
  border: 1px solid black;
  height: 200px;
  padding: 5px;
  width: 100%; /* ADD THIS */
  background-color: lightyellow; /* ADD for debug */
}

.container-input {
  margin-bottom: 5px;
}
